{% sw_extends '@Storefront/storefront/component/listing/filter/filter-range.html.twig' %}

{% block component_filter_range %}
    {% set filterRangeOptions = {
        name: name,
        minKey: minKey,
        maxKey: maxKey,
        inputMinValue: price.min,
        inputMaxValue: price.max,
        currencySymbol: currencySymbol,
        rangeUnit: rangeUnit,
        snippets: {
            filterRangeActiveMinLabel: filterRangeActiveMinLabel,
            filterRangeActiveMaxLabel: filterRangeActiveMaxLabel,
            filterRangeErrorMessage: filterRangeErrorMessage
        }
    } %}
    <div class="filter-range filter-panel-item{% if not sidebar %} dropdown{% endif %}"
         data-elio-data-discovery-filter-range="true"
         data-elio-data-discovery-filter-range-options='{{ filterRangeOptions|json_encode }}'>

        {% block component_filter_range_toggle %}
            <button class="filter-panel-item-toggle btn{% if sidebar %} btn-block{% endif %}"
                    aria-expanded="false"
                    {% if sidebar %}
                data-toggle="collapse"
                data-target="#{{ filterItemId }}"
            {% else %}
                data-toggle="dropdown"
                data-boundary="viewport"
                data-offset="0,8"
                aria-haspopup="true"
                    {% endif %}>

                {% block component_filter_range_display_name %}
                    {{ displayName }}
                {% endblock %}

                {% block component_filter_range_toggle_icon %}
                    {% sw_icon 'arrow-medium-down' style {'pack': 'solid', 'size': 'xs', 'class': 'filter-panel-item-toggle'} %}
                {% endblock %}
            </button>
        {% endblock %}

        {% block component_filter_range_dropdown %}
            <div class="filter-range-dropdown filter-panel-item-dropdown{% if sidebar %} collapse{% else %} dropdown-menu{% endif %}"
                 id="{{ filterItemId }}">

                {% block component_filter_range_container %}
                    <div class="filter-range-container">

                        {% block component_filter_range_min %}
                            <label class="filter-range-min">

                                {% block component_filter_range_min_label %}
                                    {{ 'listing.filterRangeMinLabel'|trans|sw_sanitize }}
                                {% endblock %}

                                {% block component_filter_range_min_input %}
                                    <input class="form-control min-input"
                                           type="number"
                                           name="min-price"
                                           step="0.01"
                                           value="{{ price.min }}"
                                           min="{{ price.min }}"
                                           max="{{ price.max }}">
                                {% endblock %}

                                {% block component_filter_range_min_unit %}
                                    <span class="filter-range-currency-symbol">
                                        {{ rangeUnit }}
                                    </span>
                                {% endblock %}
                            </label>
                        {% endblock %}

                        {% block component_filter_range_divider %}
                            <div class="filter-range-divider">
                                &ndash;
                            </div>
                        {% endblock %}

                        {% block component_filter_range_max %}
                            <label class="filter-range-max">

                                {% block component_filter_range_max_label %}
                                    {{ 'listing.filterRangeMaxLabel'|trans|sw_sanitize }}
                                {% endblock %}

                                {% block component_filter_range_max_input %}
                                    <input class="form-control max-input"
                                           type="number"
                                           name="max-price"
                                           step="0.01"
                                           value="{{ price.max }}"
                                           min="{{ price.min }}"
                                           max="{{ price.max }}">
                                {% endblock %}

                                {% block component_filter_range_max_unit %}
                                    <span class="filter-range-currency-symbol">
                                        {{ rangeUnit }}
                                    </span>
                                {% endblock %}
                            </label>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}