{% sw_extends '@FactFinder/storefront/component/listing/filter/ff-filter-multi-select-list-item.html.twig' %}

{% block component_filter_multi_select_list_item_checkbox_input %}
    {# uses the category name as filter value #}
    {% set name = element.category.translated.name %}

    {# Make parent levels not selectable #}
    {% if selectable %}
        {{ parent() }}
    {% else %}
        {% set id = element.id %}
        {% if element.extensions.ff_facet_extension is defined %}
            {% set id = element.extensions.ff_facet_extension.key %}
        {% endif %}
        <input type="checkbox"
               class="custom-control-input filter-multi-select-checkbox e-ff-not-selectable"
               data-label="{{ name }}"
               value="{{ id }}"
               id="{{ id }}">
    {% endif %}
{% endblock %}

{# Shows the category name as the filter label #}
{% block component_filter_multi_select_list_item_label_element %}
    {% set name = element.category.translated.name %}

    {% if element.extensions.ff_facet_extension is defined %}
        {% set id = element.extensions.ff_facet_extension.key %}

        {% if config('FactFinder.config.listingShowFacetResultCount') %}
            {% set name = name ~ ' (' ~ element.extensions.ff_facet_extension.totalHits ~ ')' %}
        {% endif %}
    {% endif %}

    <label class="filter-multi-select-item-label {% if selectable %}custom-control-label{% else %}e-ff-not-selectable{% endif %}" for="{{ id }}">
        {% block component_multi_select_list_item_label %}
            {{ name|replace({'<br>': ''})|raw }} lorem
        {% endblock %}
    </label>
{% endblock %}
