{% block e_layout_search_suggest_result_item %}
    <li class="search-suggest-product js-result">
        {% block layout_search_suggest_result_link %}
            {% if item.hasUrl %} {# meaningless because Suggestion_TYPE_Transformer.php removes results without urls #}
                {% set itemUrl = item.url %}
            {% else %}
                {% set itemUrl = path('frontend.search.page')~"?search="~item.name|url_encode %}
            {% endif %}

            <a href="{{ itemUrl }}"
               title="{{ item.name }}"
               class="search-suggest-product-link">

                <div class="row align-items-center no-gutters">
                    {# image #}
                    {% if group.hasImage %}
                        {% block layout_search_suggest_result_image %}
                            <div class="col-auto search-suggest-product-image-container">
                                {% if item.hasImage %}
                                    <img
                                        src="{{ item.imgUrl }}"
                                        sizes="100px"
                                        class="search-suggest-product-image"
                                        alt="{{ item.name }}" />
                                {% else %}
                                    {% sw_icon 'placeholder' style {'size': 'lg'} %}
                                {% endif %}
                            </div>
                        {% endblock %}
                    {% endif %}

                    {# name with highlightes search term #}
                    {% block layout_search_suggest_result_name %}
                        {% set searchMatchPairs = {} %}
                        {% set nameLowerArray = item.name|lower|split('') %}

                        {% if config_by_lang('ElioDataDiscovery.config.suggestToggleHighlight') %}
                            {% for letter in nameLowerArray %}
                                {% set index = loop.index0 %}
                                {% set restOfTheWord = nameLowerArray[index:]|join %}

                                {% if restOfTheWord starts with searchTerm|lower %}
                                    {% set match = item.name|split('')|slice(index, searchTerm|length)|join %}

                                    {% set searchMatchPairs = searchMatchPairs|merge({(match): "<span class='highlight'>"~match~"</span>"}) %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <div class="col search-suggest-product-name text-truncate">
                            {{ item.name|replace(searchMatchPairs)|raw }}
                        </div>
                    {% endblock %}

                    {% block layout_search_suggest_result_price %}
                        {% if item.getEntityType == 'SalesChannelProductEntity' %}
                            {% block layout_search_suggest_result_price_product %}
                                <div class="col-auto search-suggest-product-price">
                                    {% set product = item.entity %}
                                    {% set price = product.calculatedPrice %}
                                    {% if product.calculatedPrices.count > 0 %}
                                        {% set price = product.calculatedPrices.last %}
                                    {% endif %}

                                    {% if product.variantListingConfig.displayParent and product.parentId === null %}
                                        {% set displayFromVariants = price.unitPrice !== product.calculatedCheapestPrice.unitPrice %}
                                        {% set price = product.calculatedCheapestPrice %}
                                    {% endif %}

                                    {% set referencePrice = price.referencePrice %}

                                    {% if product.calculatedPrices.count > 1 or displayFromVariants %}
                                        {{ "listing.listingTextFrom"|trans|sw_sanitize }}
                                    {% endif %}
                                    <span class="search-suggest-product-price">
                                        {{ price.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
                                    </span>

                                    {% if price.referencePrice is not null %}
                                        <br><small class="search-suggest-product-reference-price">({{ price.referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ price.referencePrice.referenceUnit }}&nbsp;{{ price.referencePrice.unitName }})</small>
                                    {% endif %}

                                    {% if price.regulationPrice.price is not null %}
                                        <small class="search-suggest-product-list-price">{{ "general.listPricePreviously"|trans({'%price%': price.regulationPrice.price|currency }) }}{{ "general.star"|trans|sw_sanitize }}</small>
                                    {% endif %}
                                </div>
                            {% endblock %}
                        {% endif %}
                    {% endblock %}

                </div>
            </a>
        {% endblock %}
    </li>
{% endblock %}