{% block elio_search_suggest %}
    <div class="search-suggest e-search-suggest js-search-result">
        {% block elio_search_suggest_container %}
            <div class="d-flex flex-md-row flex-wrap search-suggest-container">
                {% if response is empty %}
                <ul class="col-12 col-md e-search-suggest-container elio-suggest-block-{{ type }}">
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                        type: "warning",
                        content: "Zu Ihrer Suche wurden leider keine Suchergebnisse gefunden"
                    } %}
                </ul>
                {% endif %}

                {% for type, suggestionType in response %}
                    {% set suggestionUrlPath = '' %}
                    {% if type == 'productName' %}
                        {% set suggestionUrlPath = 'ProductURL' %}
                    {% elseif type == 'category' %}
                        {% set suggestionUrlPath = 'Path' %}
                    {% endif %}

                    <ul class="col-12 col-md e-search-suggest-container elio-suggest-block-{{ type }}">
                        <div class="elio-suggest-block-header text-capitalize">{{ type }}</div>
                        {% for suggestion in suggestionType %}
                            <li class="search-suggest-product js-result">
                                {% block layout_search_suggest_result_link %}
                                    <a href="{{ suggestion.attributes[suggestionUrlPath] }}"
                                       title="{{ suggestion.name }}"
                                       class="search-suggest-product-link">
                                        <div class="row align-items-center no-gutters">
                                            {% block layout_search_suggest_result_image %}
                                                <div class="col-auto search-suggest-product-image-container">
                                                    {% if suggestion.imgUrl %}
                                                        <img
                                                                src="{{ suggestion.imgUrl }}"
                                                                sizes="100px"
                                                                class="search-suggest-product-image"
                                                        >
                                                    {% else %}
                                                        {% sw_icon 'placeholder' style {
                                                            'size': 'lg'
                                                        } %}
                                                    {% endif %}
                                                </div>
                                            {% endblock %}

                                            {% block layout_search_suggest_result_name %}
                                                <div class="col search-suggest-product-name text-truncate">
                                                    {{ suggestion.name }}
                                                </div>
                                            {% endblock %}
                                        </div>
                                    </a>
                                {% endblock %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

