{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{# adds a feedback text label #}
{% block page_product_detail_headline %}
    {% sw_include '@ElioDataDiscovery/storefront/component/elio-data-discovery/campaign/elio-data-discovery-campaign-feedback.html.twig' with {
        label: 'product detail - above product', container: page.product
    } %}
    {{ parent() }}
{% endblock %}

{# adds a feedback text label #}
{% block page_product_detail_inner %}
    {{ parent() }}

    {% sw_include '@ElioDataDiscovery/storefront/component/elio-data-discovery/campaign/elio-data-discovery-campaign-feedback.html.twig' with {
        label: 'product detail - below product', container: page.product
    } %}
{% endblock %}

{# adds the lazy loaded product cross selling sliders #}
{% block page_product_detail_cross_selling %}
    {% set useRecommendations = config_by_lang("ElioDataDiscovery.config.useProductDetailRecommendations") %}
    {% set useSimilar = config_by_lang("ElioDataDiscovery.config.useProductDetailSimilar") %}
    {% if useRecommendations or useSimilar %}
        <div data-e-elio-data-discovery-product-detail-cross-selling-url="{{ path('widgets.e-elio-data-discovery.product-cross-selling.detail', {productId: page.product.id}) }}">
            {{ parent() }}
        </div>
    {% else %}
            {{ parent() }}
    {% endif %}
{% endblock %}
