{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_content %}
    {% if config('FactFinder.config.trackProductView') %}
        <div class="elio-ff-listing-box"
             data-elio-ff-product-number="{{ product.productNumber }}"
             data-elio-ff-parent-product-id="{{ product.parentId }}"
             data-elio-ff-label="{{ name }}"
             data-elio-ff-query="{{ elioFFQuery }}"
             data-elio-ff-page="{{ elioFFPage }}"
             data-elio-ff-pageSize="{{ elioFFPageSize }}"
             data-elio-ff-campaign="{{ elioFFCampaign }}"
        >
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
