{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_content %}
    {% if config('ElioSearch.config.trackProductView') %}
        <div class="elio-search-listing-box"
             data-elio-search-product-number="{{ product.productNumber }}"
             data-elio-search-parent-product-id="{{ product.parentId }}"
             data-elio-search-label="{{ name }}"
             data-elio-search-query="{{ elioSearchQuery }}"
             data-elio-search-page="{{ elioSearchPage }}"
             data-elio-search-pageSize="{{ elioSearchPageSize }}"
             data-elio-search-campaign="{{ elioSearchCampaign }}"
        >
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
