{% block component_content_item_box %}
    <div class="elio-content-listing-entry col-12">
        <div class="row border justify-content-md-center">
            <div class="col-12 elio-content-listing-content">
                <div class="row">
                    <div class="col-12">
                        {% block component_content_item_box_name %}
                            <h3>{{ item.title }}</h3>
                        {% endblock %}
                        {% block component_content_item_box_date %}
                            <div class="col-12 col-md-5 ">
                                {% block component_elio_blog_box_datetime %}
                                    {{ item.publicationDate|format_datetime('medium', 'none',
                                        locale=page.header.activeLanguage.translationCode.code) }}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
                <hr>

                {% if item.hasImageUrl or item.description %}
                <div class="cms-block-container">
                    <div class="cms-block-container-row row cms-row ">
                        {% if item.hasImageUrl %}
                            <div class="col-md-6">
                                <div class="cms-element-image">
                                    <div class="cms-image-container is-cover" style="min-height: 320px;">
                                        <img class="cms-image" src="{{ item.imageUrl }}" alt="{{ item.title|striptags }}"/>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if item.description %}
                            <div class="col-md-6">
                                <div class="cms-element-text">
                                    <div class="elio-content-listing-teaser-text">{{ item.description }}</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col align-self-start">
                        {% block component_content_item_box_url %}
                            <a class="btn btn-success" href="{{ item.url }}">
                                {{ 'elioDataDiscovery.content-listing.content-item-open-label'|trans|sw_sanitize }}
                            </a>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}