{% block elio_search_sync_profile_detail %}
    <sw-page class="sw-property-detail">

        {% block elio_search_sync_profile_detail_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block elio_search_sync_profile_detail_smart_bar_header_title %}
                    <h2>{{ placeholder(elio_search_sync_profile, 'name', $tc('elio-search-sync-profile.detail.textHeadline')) }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block elio_search_sync_profile_detail_smart_bar_actions %}
            <template slot="smart-bar-actions">
                {% block elio_search_sync_profile_detail_smart_bar_actions_cancel %}
                    <sw-button class="sw-property-detail__back-action"
                               :disabled="isLoading"
                               @click="onCancel">
                        {{ $tc('elio-search-sync-profile.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block elio_search_sync_profile_detail_smart_bar_actions_save %}
                    <sw-button-process
                            class="sw-property-detail__save-action"
                            :isLoading="isLoading"
                            :processSuccess="isSaveSuccessful"
                            :disabled="isLoading"
                            variant="primary"
                            @process-finish="onSaveFinish"
                            @click.prevent="onSave">
                        {{ $tc('elio-search-sync-profile.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block elio_search_sync_profile_detail_content %}
            <sw-card-view slot="content">

                {% block elio_search_sync_profile_detail_content_language_info %}
                    <sw-language-info
                            :entityDescription="placeholder(elio_search_sync_profile, 'name', $tc('elio-search-sync-profile.detail.textHeadline'))">
                    </sw-language-info>
                {% endblock %}

                <sw-card v-if="elio_search_sync_profile" :title="$tc('elio-search-sync-profile.detail.cardTitleBasicInfo')" :isLoading="isLoading">
                    <sw-container slot="grid" rows="auto auto">
                        <sw-card-section divider="bottom">
                            {% block elio_search_sync_profile_detail_basic_info %}
                                <sw-field
                                        v-model="elio_search_sync_profile.name"
                                        type="text"
                                        required
                                        :label="$tc('elio-search-sync-profile.detail.labelName')"
                                        :placeholder="placeholder(elio_search_sync_profile, 'name', $tc('elio-search-sync-profile.detail.placeholderName'))">
                                </sw-field>
                                <div class="sw-container" style="grid-template-columns: 1fr 1fr 1fr; gap: 0px 30px; place-items: stretch;">
                                    <sw-field
                                            v-model="elio_search_sync_profile.profile"
                                            type="select"
                                            required
                                            :options="profiles"
                                            :label="$tc('elio-search-sync-profile.detail.labelProfile')"
                                            @change="onChangeProfile">
                                    </sw-field>
                                    <sw-field
                                            v-if="types"
                                            v-model="elio_search_sync_profile.type"
                                            type="select"
                                            required
                                            :options="types"
                                            :label="$tc('elio-search-sync-profile.detail.labelType')"
                                    >
                                    </sw-field>
                                    <sw-field
                                            v-if="dataTypes"
                                            v-model="elio_search_sync_profile.dataType"
                                            type="select"
                                            required
                                            :options="dataTypes"
                                            :label="$tc('elio-search-sync-profile.detail.labelDataType')">
                                    </sw-field>
                                    <sw-field
                                            v-if="outputList"
                                            v-model="elio_search_sync_profile.format"
                                            type="select"
                                            required
                                            :options="outputList"
                                            :label="$tc('elio-search-sync-profile.detail.labelFormat')">
                                    </sw-field>

                                    <sw-field
                                            v-model="elio_search_sync_profile.active"
                                            type="switch"
                                            :label="$tc('elio-search-sync-profile.detail.labelActive')"
                                            :helpText="$tc('elio-search-sync-profile.detail.helpTextActive')">
                                    </sw-field>

                                </div>
                                <sw-field
                                        v-model="elio_search_sync_profile.interval"
                                        type="text"
                                        required
                                        :label="$tc('elio-search-sync-profile.detail.labelInterval')"
                                        placeholder="0 * * * *"
                                        :helpText="$tc('elio-search-sync-profile.detail.helpTextInterval')">
                                </sw-field>

                                {% block elio_search_sync_profile_detail_basic_info_download_protection %}

                                    <sw-field
                                        v-model="elio_search_sync_profile.downloadUsername"
                                        type="text"
                                        required
                                        :label="$tc('elio-search-sync-profile.detail.downloadUsername')"
                                        :placeholder="placeholder(elio_search_sync_profile, 'downloadUsername', $tc('elio-search-sync-profile.detail.downloadUsername'))">
                                    </sw-field>

                                    <sw-field
                                        v-model="elio_search_sync_profile.downloadPassword"
                                        type="password"
                                        required
                                        :label="$tc('elio-search-sync-profile.detail.downloadPassword')"
                                        :placeholder="placeholder(elio_search_sync_profile, 'downloadPassword', $tc('elio-search-sync-profile.detail.downloadPassword'))">
                                    </sw-field>

                                {% endblock %}

                                {% block elio_search_sync_profile_detail_basic_info_saleschannel_language %}
                                    <sw-field
                                            v-model="elio_search_sync_profile.salesChannelId"
                                            type="select"
                                            required
                                            :options="salesChannelIdsList"
                                            :label="$tc('elio-search-sync-profile.detail.labelSalesChannel')">
                                    </sw-field>
                                    <sw-entity-multi-select
                                            v-model="elio_search_sync_profile.languages"
                                            required
                                            entity-name="language"
                                            :label="$tc('elio-search-sync-profile.detail.labelLanguages')"
                                            :entity-collection="elio_search_sync_profile.languages"
                                    >
                                    </sw-entity-multi-select>
                                    <sw-entity-multi-select
                                            v-if="baseCategories"
                                            v-model="baseCategories"
                                            required
                                            entity-name="category"
                                            :label="$tc('elio-search-sync-profile.detail.baseCategoryLabel')"
                                            @change="onChangeBaseCategory"
                                    />
                                {% endblock %}

                            {% endblock %}
                        </sw-card-section>

                        {% block elio_search_sync_profile_detail_basic_info_secondary_section %}
                            <sw-card-section secondary slim v-if="!isNew">
                                <sw-container columns="repeat(auto-fit, minmax(250px, 1fr))" gap="0 30px">
                                    <sw-description-list>
                                        <div class="headline">
                                            {{ $tc('elio-search-sync-profile.detail.labelDetails') }}
                                        </div>

                                        {% block elio_search_sync_profile_detail_basic_info_lastgeneration_started %}
                                            <dt>{{ $tc('elio-search-sync-profile.detail.labelLastGenerationStarted') }}</dt>
                                            <dd v-if="elio_search_sync_profile.lastGenerationStartedAt">{{ formatDate(elio_search_sync_profile.lastGenerationStartedAt) }}</dd>
                                            <dd v-else>-</dd>
                                        {% endblock %}

                                        {% block elio_search_sync_profile_detail_basic_info_lastgeneration_finished %}
                                            <dt>{{ $tc('elio-search-sync-profile.detail.labelLastGenerationFinished') }}</dt>
                                            <dd v-if="elio_search_sync_profile.lastGenerationFinishedAt">{{ formatDate(elio_search_sync_profile.lastGenerationFinishedAt) }}</dd>
                                            <dd v-else>-</dd>
                                        {% endblock %}

                                        {% block elio_search_sync_profile_detail_basic_info_next_generation_due_at %}
                                            <dt>{{ $tc('elio-search-sync-profile.detail.labelNextGenerationDueAt') }}</dt>
                                            <dd v-if="elio_search_sync_profile.nextGenerationDueAt">{{ formatDate(elio_search_sync_profile.nextGenerationDueAt) }}</dd>
                                            <dd v-else>-</dd>
                                        {% endblock %}

                                        {% block elio_search_sync_profile_detail_basic_info_status %}
                                            <dt>{{ $tc('elio-search-sync-profile.detail.status.title') }}</dt>
                                            <dd>
                                                <sw-field
                                                        v-model="getDownloadUrl"
                                                        type="text"
                                                        readonly>
                                                </sw-field>
                                                <sw-button variant="primary"
                                                           size="small"
                                                           v-if="status.exists"
                                                           :disabled="!status.exists"
                                                           @click="onDownloadExport">
                                                    {{ $tc('elio-search-sync-profile.detail.download') }}
                                                </sw-button>
                                                <sw-button variant="danger"
                                                           size="small"
                                                           v-if="!status.exists"
                                                           :disabled="!status.exists"
                                                           @click="onDownloadExport">
                                                    {{ $tc('elio-search-sync-profile.detail.status.notExists') }}
                                                </sw-button>
                                                <sw-button class="elio-search-sync-profile-button-generate"
                                                           variant="primary"
                                                           size="small"
                                                           :disabled="isGenerating"
                                                           @click="onGenerate">
                                                    {{ isGenerating?$tc('elio-search-sync-profile.detail.buttonGenerateInProgress'):$tc('elio-search-sync-profile.detail.buttonGenerate') }}
                                                </sw-button>
                                            </dd>
                                        {% endblock %}

                                        {% block elio_search_sync_profile_detail_basic_info_export_id %}
                                            <dt>{{ $tc('elio-search-sync-profile.detail.labelExportCommand') }}</dt>
                                            <dd>
                                                <sw-field
                                                        v-model="command"
                                                        type="text"
                                                        readonly>
                                                </sw-field>
                                                <sw-field
                                                        v-model="commandForce"
                                                        type="switch"
                                                        :label="$tc('elio-search-sync-profile.detail.labelExportCommandForce')">
                                                </sw-field>
                                            </dd>
                                        {% endblock %}
                                    </sw-description-list>
                                </sw-container>
                            </sw-card-section>
                        {% endblock %}
                    </sw-container>
                </sw-card>

                <sw-card v-if="elio_search_sync_profile" :title="$tc('elio-search-sync-profile.detail.cardTitleConfig')" :isLoading="isLoading">
                    <div v-if="elio_search_sync_profile.type === 'content'">
                        <sw-field
                            v-model="elio_search_sync_profile.config.export_product_categories"
                            type="switch"
                            :label="$tc('elio-search-sync-profile.detail.config.export_product_categories')">
                        </sw-field>
                        <sw-field
                                v-model="elio_search_sync_profile.config.export_structure_categories"
                                type="switch"
                                :label="$tc('elio-search-sync-profile.detail.config.export_structure_categories')">
                        </sw-field>
                        <sw-field
                                v-model="elio_search_sync_profile.config.export_link_categories"
                                type="switch"
                                :label="$tc('elio-search-sync-profile.detail.config.export_link_categories')">
                        </sw-field>
                    </div>
                    <sw-field
                            v-model="elio_search_sync_profile.config.trigger_import_search_data"
                            type="switch"
                            :label="$tc('elio-search-sync-profile.detail.config.trigger_import_search_data')">
                    </sw-field>
                    <sw-field
                            v-model="elio_search_sync_profile.config.trigger_import_suggest_data"
                            type="switch"
                            :label="$tc('elio-search-sync-profile.detail.config.trigger_import_suggest_data')">
                    </sw-field>
                </sw-card>

                <sw-card :class="[{'elio-search-mappings--empty':isMappingsEmpty}]"
                         v-if="!isNew"
                         :title="$tc('elio-search-sync-profile.detail.cardTitleMappings')"
                         :isLoading="isLoading">
                    <div class="elio-search-mappings">
                    {% block elio_search_sync_profile_detail_mapping_info %}
                        <sw-button class="elio-search-mappings-button-add"
                                   variant="primary"
                                   size="small"
                                   @click="onAddNewMapping">
                            {{ $tc('elio-search-sync-profile.detail.buttonMappingAdd') }}
                        </sw-button>

                        <div class="sw-container" style="grid-template-columns: 3fr 3fr 1fr; gap: 0 30px; place-items: stretch;">
                            <div>
                                <div class="headline">{{ $tc('elio-search-sync-profile.detail.columnSource') }}</div>
                                {% block elio_search_sync_profile_detail_mapping_source_column %}
                                    <sw-field
                                            v-for="export_mapping in elio_search_sync_profile_mappings"
                                            v-model="export_mapping.source"
                                            type="text"
                                            :placeholder="$tc('elio-search-sync-profile.detail.mappingSourcePlaceholder')">
                                    </sw-field>
                                {% endblock %}
                            </div>
                            <div>
                                <div class="headline">{{ $tc('elio-search-sync-profile.detail.columnTarget') }}</div>
                                {% block elio_search_sync_profile_detail_mapping_target_column %}
                                    <sw-field
                                            v-for="export_mapping in elio_search_sync_profile_mappings"
                                            v-model="export_mapping.target"
                                            type="text"
                                            :placeholder="placeholder(elio_search_sync_profile, 'name', $tc('elio-search-sync-profile.detail.placeholderName'))">
                                    </sw-field>
                                {% endblock %}
                            </div>
                            <div class="elio-search-mappings-column-actions">
                                {% block elio_search_sync_profile_detail_mapping_action_column %}
                                    <sw-button class="elio-search-mappings-button-delete"
                                               v-for="export_mapping in elio_search_sync_profile_mappings"
                                               variant="danger"
                                               size="small"
                                               @click.prevent="onDeleteMapping(export_mapping.id)">
                                        {{ $tc('elio-search-sync-profile.detail.buttonMappingRemove') }}
                                    </sw-button>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                    </div>

                    <sw-empty-state v-if="isMappingsEmpty"
                                    :title="$tc('elio-search-sync-profile.detail.messageMappingsEmptyTitle')"
                                    icon="default-documentation-file"
                                    :subline="$tc('elio-search-sync-profile.detail.messageMappingsEmptySubline')"
                                    :absolute="false">
                    </sw-empty-state>
                </sw-card>

            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
