{% sw_extends "@Storefront/storefront/layout/header/search.html.twig" %}

{% block layout_header_search %}
    {% set searchOptions = {
        suggestAutocompleteType: config_by_lang("ElioDataDiscovery.config.suggestAutocompleteType")
    } %}

    {% set showSearchHistory = config_by_lang("ElioDataDiscovery.config.suggestShowSearchHistory") %}
    {% set searchHistoryOptions = {
        channel: context.salesChannel.id,
        searchPageUrl: path('frontend.search.page')~"?search="
    } %}

    <div class="collapse" id="searchCollapse">
        <div class="header-search e-header-search">
            <form action="{{ path('frontend.search.page') }}"
                  method="get"
                  data-search-form="true"
                  data-url="{{ path('frontend.search.suggest') }}?search="
                  data-search-widget-options='{{ searchOptions|json_encode }}'
                  {% if showSearchHistory %}data-elio-data-discovery-history-options='{{ searchHistoryOptions|json_encode }}'{% endif %}
                  class="header-search-form e-header-search-form {% if showSearchHistory %}e-search-history{% endif %}">
                {% block layout_header_search_input_group %}
                    {{ parent() }}

                    <div class="e-autocomplete text-truncate"></div>
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}