{% block elio_data_discovery_sync_profile_detail %}
    <sw-page class="sw-property-detail">

        {% block elio_data_discovery_sync_profile_detail_smart_bar_header %}
            <template #smart-bar-header>
                {% block elio_data_discovery_sync_profile_detail_smart_bar_header_title %}
                    <h2>{{ placeholder(elio_data_discovery_sync_profile, 'name', $tc('elio-data-discovery-sync-profile.detail.textHeadline')) }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block elio_data_discovery_sync_profile_detail_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block elio_data_discovery_sync_profile_detail_smart_bar_actions_cancel %}
                    <sw-button class="sw-property-detail__back-action"
                               :disabled="isLoading"
                               @click="onCancel">
                        {{ $tc('elio-data-discovery-sync-profile.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block elio_data_discovery_sync_profile_detail_smart_bar_actions_save %}
                    <sw-button-process
                            class="sw-property-detail__save-action"
                            :isLoading="isLoading"
                            :processSuccess="isSaveSuccessful"
                            :disabled="isLoading"
                            variant="primary"
                            @process-finish="onSaveFinish"
                            @click.prevent="onSave">
                        {{ $tc('elio-data-discovery-sync-profile.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block elio_data_discovery_sync_profile_detail_content %}
            <template #content>
                <sw-card-view>

                    {% block elio_data_discovery_sync_profile_detail_content_language_info %}
                        <sw-language-info
                                :entityDescription="placeholder(elio_data_discovery_sync_profile, 'name', $tc('elio-data-discovery-sync-profile.detail.textHeadline'))">
                        </sw-language-info>
                    {% endblock %}

                    <sw-alert v-if="!isExtensionsActive" variant="warning" class="sw-error-summary">
                        {{ $tc('elio-data-discovery-sync-profile.noActiveExtensions') }}
                    </sw-alert>

                    <sw-card positionIdentifier="1" v-if="elio_data_discovery_sync_profile" :title="$tc('elio-data-discovery-sync-profile.detail.cardTitleBasicInfo')" :isLoading="isLoading">
                        <template #grid>
                            <sw-container rows="auto auto">
                                <sw-card-section divider="bottom">
                                    {% block elio_data_discovery_sync_profile_detail_basic_info %}
                                        <sw-text-field
                                                v-model:value="elio_data_discovery_sync_profile.name"
                                                required
                                                :error="elioDataDiscoverySyncProfileNameError"
                                                :label="$tc('elio-data-discovery-sync-profile.detail.labelName')"
                                                :placeholder="placeholder(elio_data_discovery_sync_profile, 'name', $tc('elio-data-discovery-sync-profile.detail.placeholderName'))">
                                        </sw-text-field>
                                        <div class="sw-container" style="grid-template-columns: 1fr 1fr 1fr; gap: 0px 30px; place-items: stretch;">
                                            <sw-select-field
                                                    v-model:value="elio_data_discovery_sync_profile.profile"
                                                    required
                                                    :error="elioDataDiscoverySyncProfileProfileError"
                                                    :options="profiles"
                                                    :label="$tc('elio-data-discovery-sync-profile.detail.labelProfile')"
                                                    @change="onChangeProfile">
                                            </sw-select-field>
                                            <sw-select-field
                                                    v-if="dataTypes"
                                                    v-model:value="elio_data_discovery_sync_profile.dataType"
                                                    required
                                                    :error="elioDataDiscoverySyncProfileDataTypeError"
                                                    :options="dataTypes"
                                                    :label="$tc('elio-data-discovery-sync-profile.detail.labelDataType')">
                                            </sw-select-field>
                                            <sw-switch-field
                                                    v-model:value="elio_data_discovery_sync_profile.active"
                                                    :label="$tc('elio-data-discovery-sync-profile.detail.labelActive')"
                                                    :helpText="$tc('elio-data-discovery-sync-profile.detail.helpTextActive')">
                                            </sw-switch-field>
                                        </div>
                                        <sw-text-field
                                                v-model:value="elio_data_discovery_sync_profile.interval"
                                                required
                                                :error="elioDataDiscoverySyncProfileIntervalError"
                                                :label="$tc('elio-data-discovery-sync-profile.detail.labelInterval')"
                                                placeholder="0 * * * *"
                                                :helpText="$tc('elio-data-discovery-sync-profile.detail.helpTextInterval')">
                                        </sw-text-field>

                                        {% block elio_data_discovery_sync_profile_detail_basic_info_download_protection %}

                                            <div v-if="type == 'export'">
                                                <sw-text-field
                                                    v-model:value="elio_data_discovery_sync_profile.downloadUsername"
                                                    required
                                                    :label="$tc('elio-data-discovery-sync-profile.detail.downloadUsername')"
                                                    :placeholder="placeholder(elio_data_discovery_sync_profile, 'downloadUsername', $tc('elio-data-discovery-sync-profile.detail.downloadUsername'))">
                                                </sw-text-field>

                                                <sw-password-field
                                                    v-model:value="elio_data_discovery_sync_profile.downloadPassword"
                                                    required
                                                    :label="$tc('elio-data-discovery-sync-profile.detail.downloadPassword')"
                                                    :placeholder="placeholder(elio_data_discovery_sync_profile, 'downloadPassword', $tc('elio-data-discovery-sync-profile.detail.downloadPassword'))">
                                                </sw-password-field>
                                            </div>
                                        {% endblock %}

                                        {% block elio_data_discovery_sync_profile_detail_basic_info_saleschannel_language %}
                                            <sw-select-field
                                                    v-model:value="elio_data_discovery_sync_profile.salesChannelId"
                                                    required
                                                    :options="salesChannelIdsList"
                                                    :error="elioDataDiscoverySyncProfileSalesChannelIdError"
                                                    :label="$tc('elio-data-discovery-sync-profile.detail.labelSalesChannel')"
                                                    @change="onSalesChannelChange">
                                            </sw-select-field>
                                            <sw-entity-multi-select
                                                    v-if="features.multiLanguageSupport"
                                                    v-model:entity-collection="elio_data_discovery_sync_profile.languages"
                                                    required
                                                    :criteria="languageCriteria"
                                                    entity-name="language"
                                                    :label="$tc('elio-data-discovery-sync-profile.detail.labelLanguages')"
                                            >
                                            </sw-entity-multi-select>
                                            <sw-entity-single-select
                                                    v-else
                                                    v-model:value="languageId"
                                                    required
                                                    :criteria="languageCriteria"
                                                    entity="language"
                                                    :label="$tc('elio-data-discovery-sync-profile.detail.labelLanguage')"
                                                    @change="onChangeLanguage"
                                            >
                                            </sw-entity-single-select>
                                            <sw-entity-multi-select
                                                    v-if="features.categorySelection && baseCategories"
                                                    v-model:entity-collection="baseCategories"
                                                    required
                                                    entity-name="category"
                                                    :error="elioDataDiscoverySyncProfileBaseCategoryIdsError"
                                                    :label="$tc('elio-data-discovery-sync-profile.detail.baseCategoryLabel')"
                                                    @change="onChangeBaseCategory"
                                            >
                                            </sw-entity-multi-select>
                                        {% endblock %}

                                    {% endblock %}
                                </sw-card-section>

                                {% block elio_data_discovery_sync_profile_detail_basic_info_secondary_section %}
                                    <sw-card-section secondary slim v-if="!isNew">
                                        <sw-container columns="repeat(auto-fit, minmax(250px, 1fr))" gap="0 30px">
                                            <sw-description-list>
                                                <div class="headline">
                                                    {{ $tc('elio-data-discovery-sync-profile.detail.labelDetails') }}
                                                </div>

                                                {% block elio_data_discovery_sync_profile_detail_basic_info_lastgeneration_started %}
                                                    <dl>
                                                        <dt>{{ $tc('elio-data-discovery-sync-profile.detail.labelLastGenerationStarted') }}</dt>
                                                        <dd v-if="elio_data_discovery_sync_profile.lastGenerationStartedAt">{{ formatDate(elio_data_discovery_sync_profile.lastGenerationStartedAt) }}</dd>
                                                        <dd v-else>-</dd>
                                                    </dl>
                                                {% endblock %}

                                                {% block elio_data_discovery_sync_profile_detail_basic_info_lastgeneration_finished %}
                                                    <dl>
                                                        <dt>{{ $tc('elio-data-discovery-sync-profile.detail.labelLastGenerationFinished') }}</dt>
                                                        <dd v-if="elio_data_discovery_sync_profile.lastGenerationFinishedAt">{{ formatDate(elio_data_discovery_sync_profile.lastGenerationFinishedAt) }}</dd>
                                                        <dd v-else>-</dd>
                                                    </dl>
                                                {% endblock %}

                                                {% block elio_data_discovery_sync_profile_detail_basic_info_next_generation_due_at %}
                                                    <dl>
                                                        <dt>{{ $tc('elio-data-discovery-sync-profile.detail.labelNextGenerationDueAt') }}</dt>
                                                        <dd v-if="elio_data_discovery_sync_profile.nextGenerationDueAt">{{ formatDate(elio_data_discovery_sync_profile.nextGenerationDueAt) }}</dd>
                                                        <dd v-else>-</dd>
                                                    </dl>
                                                {% endblock %}

                                                {% block elio_data_discovery_sync_profile_detail_basic_info_status %}
                                                    <dl>
                                                        <dt>{{ $tc('elio-data-discovery-sync-profile.detail.status.title') }}</dt>
                                                        <dd>
                                                            <div v-if="type == 'export'">
                                                                <sw-text-field
                                                                        :value="getDownloadUrl"
                                                                        readonly>
                                                                </sw-text-field>
                                                                <sw-button variant="primary"
                                                                           size="small"
                                                                           v-if="status.finished"
                                                                           :disabled="!status.finished"
                                                                           @click="onDownloadExport">
                                                                    {{ $tc('elio-data-discovery-sync-profile.detail.download') }}
                                                                </sw-button>
                                                                <sw-button variant="danger"
                                                                           size="small"
                                                                           v-if="!status.finished"
                                                                           :disabled="!status.finished"
                                                                           @click="onDownloadExport">
                                                                    {{ $tc('elio-data-discovery-sync-profile.detail.status.notExists') }}
                                                                </sw-button>
                                                            </div>
                                                            <sw-button class="elio-data-discovery-sync-profile-button-generate"
                                                                       variant="primary"
                                                                       size="small"
                                                                       :disabled="isGenerating"
                                                                       @click="onGenerate({ 'full-sync': false })">
                                                                {{ isGenerating?$tc('elio-data-discovery-sync-profile.detail.buttonGenerateInProgress'):$tc('elio-data-discovery-sync-profile.detail.buttonGenerate') }}
                                                            </sw-button>
                                                            <sw-button v-if="features.deltaSupport"
                                                                       class="elio-data-discovery-sync-profile-button-generate-full"
                                                                       variant="primary"
                                                                       size="small"
                                                                       :disabled="isGenerating"
                                                                       @click="onGenerateModalConfirm">
                                                                {{ isGenerating?$tc('elio-data-discovery-sync-profile.detail.buttonGenerateInProgress'):$tc('elio-data-discovery-sync-profile.detail.buttonGenerateFull') }}
                                                            </sw-button>
                                                            <sw-confirm-modal v-if="isGenerateModalVisible"
                                                                              class="elio-data-discovery-sync-profile.detail.modal-confirm-generate-full"
                                                                              :title="$tc('elio-data-discovery-sync-profile.detail.modalConfirmTitle')"
                                                                              :text="$tc('elio-data-discovery-sync-profile.detail.modalConfirmText')"
                                                                              @confirm="onGenerate({ 'full-sync': true })"
                                                                              @close="onGenerateModalCancel"
                                                                              @cancel="onGenerateModalCancel">
                                                            </sw-confirm-modal>
                                                        </dd>
                                                    </dl>
                                                {% endblock %}

                                                {% block elio_data_discovery_sync_profile_detail_basic_info_export_id %}
                                                    <dl>
                                                        <dt>{{ $tc('elio-data-discovery-sync-profile.detail.labelExportCommand') }}</dt>
                                                        <dd>
                                                            <sw-text-field
                                                                    v-model:value="command"
                                                                    readonly>
                                                            </sw-text-field>
                                                            <sw-switch-field
                                                                    v-model:value="commandForce"
                                                                    :label="$tc('elio-data-discovery-sync-profile.detail.labelExportCommandForce')">
                                                            </sw-switch-field>
                                                            <sw-switch-field
                                                                    v-if="features.deltaSupport"
                                                                    v-model:value="commandFullSync"
                                                                    :label="$tc('elio-data-discovery-sync-profile.detail.labelExportCommandFullSync')">
                                                            </sw-switch-field>
                                                        </dd>
                                                    </dl>
                                                {% endblock %}
                                            </sw-description-list>
                                        </sw-container>
                                    </sw-card-section>
                                {% endblock %}
                            </sw-container>
                        </template>
                    </sw-card>

                    <sw-card positionIdentifier="2" v-if="elio_data_discovery_sync_profile && (elio_data_discovery_sync_profile.dataType === 'Elio\\ElioDataDiscovery\\Core\\Sync\\DataTypes\\ContentType' || type == 'export')"
                             :title="$tc('elio-data-discovery-sync-profile.detail.cardTitleConfig')"
                             :isLoading="isLoading">
                        <div v-if="elio_data_discovery_sync_profile.dataType === 'Elio\\ElioDataDiscovery\\Core\\Sync\\DataTypes\\ContentType'">
                            <sw-switch-field
                                v-model:value="elio_data_discovery_sync_profile.config.export_product_categories"
                                :label="$tc('elio-data-discovery-sync-profile.detail.config.export_product_categories')">
                            </sw-switch-field>
                            <sw-switch-field
                                    v-model:value="elio_data_discovery_sync_profile.config.export_structure_categories"
                                    :label="$tc('elio-data-discovery-sync-profile.detail.config.export_structure_categories')">
                            </sw-switch-field>
                            <sw-switch-field
                                    v-model:value="elio_data_discovery_sync_profile.config.export_link_categories"
                                    :label="$tc('elio-data-discovery-sync-profile.detail.config.export_link_categories')">
                            </sw-switch-field>
                        </div>

                        <div v-if="type == 'export'">
                            <sw-switch-field
                                    v-model:value="elio_data_discovery_sync_profile.config.trigger_import_search_data"
                                    :label="$tc('elio-data-discovery-sync-profile.detail.config.trigger_import_search_data')">
                            </sw-switch-field>
                            <sw-switch-field
                                    v-model:value="elio_data_discovery_sync_profile.config.trigger_import_suggest_data"
                                    :label="$tc('elio-data-discovery-sync-profile.detail.config.trigger_import_suggest_data')">
                            </sw-switch-field>
                        </div>
                    </sw-card>

                    <sw-card positionIdentifier="3" :class="[{'elio-data-discovery-mappings--empty':isMappingsEmpty}]"
                             v-if="!isNew"
                             :title="$tc('elio-data-discovery-sync-profile.detail.cardTitleMappings')"
                             :isLoading="isLoading">
                        <div class="elio-data-discovery-mappings">
                        {% block elio_data_discovery_sync_profile_detail_mapping_info %}
                            <sw-button class="elio-data-discovery-mappings-button-add"
                                       variant="primary"
                                       size="small"
                                       @click="onAddNewMapping">
                                {{ $tc('elio-data-discovery-sync-profile.detail.buttonMappingAdd') }}
                            </sw-button>

                            <div class="sw-container" style="grid-template-columns: 3fr 3fr 1fr; gap: 0 30px; place-items: stretch;">
                                <div>
                                    <div class="headline">{{ $tc('elio-data-discovery-sync-profile.detail.columnSource') }}</div>
                                    {% block elio_data_discovery_sync_profile_detail_mapping_source_column %}
                                        <sw-text-field
                                                v-for="export_mapping in elio_data_discovery_sync_profile_mappings"
                                                v-model:value="export_mapping.source"
                                                :placeholder="$tc('elio-data-discovery-sync-profile.detail.mappingSourcePlaceholder')">
                                        </sw-text-field>
                                    {% endblock %}
                                </div>
                                <div>
                                    <div class="headline">{{ $tc('elio-data-discovery-sync-profile.detail.columnTarget') }}</div>
                                    {% block elio_data_discovery_sync_profile_detail_mapping_target_column %}
                                        <sw-text-field
                                                v-for="export_mapping in elio_data_discovery_sync_profile_mappings"
                                                v-model:value="export_mapping.target"
                                                :placeholder="placeholder(elio_data_discovery_sync_profile, 'name', $tc('elio-data-discovery-sync-profile.detail.placeholderName'))">
                                        </sw-text-field>
                                    {% endblock %}
                                </div>
                                <div class="elio-data-discovery-mappings-column-actions">
                                    {% block elio_data_discovery_sync_profile_detail_mapping_action_column %}
                                        <sw-button class="elio-data-discovery-mappings-button-delete"
                                                   v-for="export_mapping in elio_data_discovery_sync_profile_mappings"
                                                   variant="danger"
                                                   size="small"
                                                   @click.prevent="onDeleteMapping(export_mapping.id)">
                                            {{ $tc('elio-data-discovery-sync-profile.detail.buttonMappingRemove') }}
                                        </sw-button>
                                    {% endblock %}
                                </div>
                            </div>
                        {% endblock %}
                        </div>

                        <sw-empty-state v-if="isMappingsEmpty"
                                        :title="$tc('elio-data-discovery-sync-profile.detail.messageMappingsEmptyTitle')"
                                        icon="default-documentation-file"
                                        :subline="$tc('elio-data-discovery-sync-profile.detail.messageMappingsEmptySubline')"
                                        :absolute="false">
                        </sw-empty-state>
                    </sw-card>

                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
