{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{# we only set the sidebar-filter id into the params if it is not empty, since it will otherwise cause an error when changing pages in the listing #}
{% if cmsPage and cmsPage.firstElementOfType('sidebar-filter').id is not empty %}
    {% set slots = [
        cmsPage.firstElementOfType('product-listing').id,
        cmsPage.firstElementOfType('sidebar-filter').id
    ] %}

    {% set params = params|merge({slots: slots|join('|')}) %}
{% endif %}
{% set disableEmptyFilter = false %}

{% block product_listing %}
    {% set elioDataDiscoveryQuery = page.searchTerm %}
    {% set elioDataDiscoveryPage = searchResult.page %}
    {% set elioDataDiscoveryPageSize = searchResult.limit %}

    {% if searchResult.extensions.TrackingResponse is defined %}
        {% set trackingResponse = searchResult.extensions.TrackingResponse %}
        {% set elioDataDiscoveryQuery = trackingResponse.query %}
        {% set elioDataDiscoveryPage = trackingResponse.pageNo %}
        {% set elioDataDiscoveryPageSize = trackingResponse.pageSize %}
    {% endif %}

    {% if searchResult.extensions.InterrupterResponse is defined %}
        {% set interrupterResponse = searchResult.extensions.InterrupterResponse %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{# feedback text integration + cms advisor campaign handling #}
{% block element_product_listing_row %}
    {% set showListing = true %}
    {% block element_product_listing_row_show_listing_set %}
        {# we don't show the listing for cms campaigns if there is no selection done yet #}
        {% if searchResult.hasExtension('advisor-listing') %}
            {% set showListing = searchResult.getExtension('advisor-listing').showListing %}
        {% endif %}
    {% endblock %}

    {% if showListing %}
        {# feedback text #}
        {% sw_include '@ElioDataDiscovery/storefront/component/elio-data-discovery/campaign/elio-data-discovery-campaign-feedback.html.twig' with {
            label: 'above search result', container: searchResult
        } %}

        {% sw_include '@Storefront/storefront/component/content/listing.html.twig' with {
            listing: topProductsContentGroup
        } %}
        {{ parent() }}

        {# feedback text #}
        {% sw_include '@ElioDataDiscovery/storefront/component/elio-data-discovery/campaign/elio-data-discovery-campaign-feedback.html.twig' with {
            label: 'below search result', container: searchResult
        } %}
    {% endif %}
{% endblock %}

{# interrupters #}
{% block element_product_listing_col %}
    {% set productIndex = 0 %}
    {% set products = [] %}
    {% for product in searchResult.elements %}
        {% set products = products|merge([product]) %}
    {% endfor %}
    {% set listingElements = searchResult|length + interrupterResponse.interrupterItems|length %}

    {% for position in 0..listingElements %}
        {% set interrupter = interrupterResponse.getInterrupterItemWithPosition(position) %}
        {% set interrupterColumns = null %}

        {% if interrupter %}
            {# Set Classes for interrupter #}
            {% if interrupter.format == '1x1' %}
                {% if section and section.type == 'sidebar' %}
                    {% set interrupterColumns = 'col-sm-6 col-lg-6 col-xl-4' %}
                {% else %}
                    {% set interrupterColumns = 'col-sm-6 col-lg-4 col-xl-3' %}
                {% endif %}
            {% elseif interrupter.format == '1x2' %}
                {% if section and section.type == 'sidebar' %}
                    {% set interrupterColumns = 'col-xl-8' %}
                {% else %}
                    {% set interrupterColumns = 'col-lg-8 col-xl-6' %}
                {% endif %}
            {% endif %}

            {% set route = null %}
            {% set parameters = {} %}
            <div class="cms-listing-col {{ interrupterColumns }}" role="listitem">
                {% if interrupter.ItemId %}
                    {% if interrupter.itemType === 'product' %}
                        {% set route = 'frontend.detail.page' %}
                        {% set parameters = { productId: interrupter.itemId } %}
                    {% elseif interrupter.itemType === 'category' %}
                        {% set route = 'frontend.navigation.page' %}
                        {% set parameters = { navigationId: interrupter.itemId } %}
                    {% elseif interrupter.itemType === 'landingpage' %}
                        {% set route = 'frontend.landing.page' %}
                        {% set parameters = { landingPageId: interrupter.itemId } %}
                    {% endif %}
                {% endif %}
                <a href="{% if route and parameters %}{{ seoUrl(route, parameters) }}{% else %}{{ interrupter.url }}{% endif %}">
                    {% if interrupter.html %}
                        {{ interrupter.html|sw_sanitize|raw }}
                    {% endif %}
                    {% if interrupter.imageDesktop or interrupter.imageMobile %}
                        <picture>
                            {% if interrupter.imageDesktop %}<source media="(min-width:992px)" srcset="{{ interrupter.imageDesktop }}">{% endif %}
                            {% if interrupter.imageMobile %}<source media="(min-width:0px)" srcset="{{ interrupter.imageMobile }}">{% endif %}
                            <img src="{{ interrupter.imageDesktop }}"
                                 alt="{% if interrupter.alt %}{{ interrupter.alt }}{% endif %}"
                                 style="width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
                        </picture>
                    {% endif %}
                </a>
            </div>
        {% else %}
            {% set product = products[productIndex] %}
            <div class="cms-listing-col {{ listingColumns }}" role="listitem">
                {% block element_product_listing_box %}
                    {{ parent() }}
                {% endblock %}
            </div>
            {% set productIndex = productIndex + 1 %}
        {% endif %}
    {% endfor %}
{% endblock %}

{# advisor campaigns #}
{% block element_product_listing_wrapper_content %}
    {% block element_product_listing_advisor %}
        {% if searchResult and searchResult.hasExtension('AdvisorCampaignResponseCollection') %}
            {% set advisorCampaignResponseCollection = searchResult.getExtension('AdvisorCampaignResponseCollection') %}
            {% for advisorCampaign in advisorCampaignResponseCollection.advisorCampaignResponses %}
                {% sw_include '@ElioDataDiscovery/storefront/component/elio-data-discovery/advisor-campaign/index.html.twig' with {
                    advisorCampaign: advisorCampaign,
                    searchResult: searchResult
                } %}
            {% endfor %}
        {% endif %}
    {% endblock %}
    {{ parent() }}
{% endblock %}

{# we don't show the no products message for cms advisor campaigns #}
{% block element_product_listing_col_empty %}
    {% if not searchResult.hasExtension('advisor-listing') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{# we hide the sorting if we are on a cms advisor campaign and no selection was made by the user #}
{% block element_product_listing_sorting %}
    {% set showListing = true %}
    {% if searchResult.hasExtension('advisor-listing') %}
        {% set showListing = searchResult.getExtension('advisor-listing').showListing %}
    {% endif %}
    {% if showListing %}
        {{ parent() }}
    {% endif %}
{% endblock %}
